<%= form_for(list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
  <div class="col-lg-6">
    <h2>Lista</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Pública?</th>
              </tr>
          </thead>
          <tbody>
            <div class="field">
              <%= f.hidden_field :user_id, :value => current_user.id  %>
            </div>
              <tr>
                <td>  
                  <div class="field">
                    <%= f.text_field :name %>
                  </div>
                </td>
                <td>
                    <div class="field">
                      <%= f.check_box :public %>
                    </div>
                </td>
              </tr>           
          </tbody>
        </table>
      </div>
    </div>
</div>

 <div class="row">
  <div class="col-lg-6">
    <h2>Tarefas</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Texto</th>
              <th>Aberta?</th>
              </tr>
          </thead>
          <tbody>
            <%= f.fields_for :tasks do |builder| %>
              <tr>
                <td>  
                  <div class="field">
                    <%= builder.text_field :text %>
                  </div>
                </td>
                <td>
                    <div class="field">
                      <%= builder.check_box :active %>
                    </div>
                </td>
              </tr> 
            <% end %>          
          </tbody>
        </table>
      </div>
    </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
