<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-6">
    <h2>Tarefa</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Texto</th>
              <th>Aberta?</th>
              </tr>
          </thead>
          <tbody>
            <div class="field">
              <%= f.hidden_field :list_id, :value => params[:list]  %>
            </div>
              <tr>
                <td>  
                  <div class="field">
                    <%= f.text_field :text %>
                  </div>
                </td>
                <td>
                    <div class="field">
                      <%= f.check_box :active %>
                    </div>
                </td>
              </tr>           
          </tbody>
        </table>
      </div>
    </div>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>