
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini App</title>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">Mini App</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.email %> </a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                       <%= link_to 'Minhas Listas', lists_path %> 
                    </li>
                    <li>
                        <%= link_to 'Favoritas',  {:controller => 'lists', :action => 'favoritas'} %> 
                    </li>
                    <li>
                      <%= link_to 'Listas Públicas',  {:controller => 'lists', :action => 'publicas'} %>
                    </li>
                    <li>
                        <%= link_to 'Editar Conta', edit_user_registration_path %>
                    </li>
                    <li>
                        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

<br><br></body>
</html>
